.container-filter-group h3 {
  color: var(--dark-gray-2);
  font-size: 14px;
  margin-bottom: 8px;
}
.container-filter-group ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.container-filter-group ul li label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark-gray-2);
}
.container-filter-group ul li label input {
  width: 22px;
  height: 22px;
  border-color: var(--dark-gray-3);
}
.container-filter-group ul li label input:checked {
  accent-color: var(--primary);
}
