.container-product-card {
   /* border: 1px solid var(--light-gray); */
   margin-bottom: 10px;
   box-shadow: 0px 0px 4px #e9e7e7;
   font-size: 24px;

}
.container-product-card img {
   width: 321px;
   height: 292px;
   border-radius: 4px;
}
.product-price {
    color: var(--dark-gray);
}
.price-discount {
    color: var(--light-gray);
    text-decoration: line-through;

}