.container-section {
  width: 100%;
  padding-bottom: 3rem;
}

.title-section {
  width: 100%;
  color: var(--dark-gray-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title-section a {
  color: var(--primary);
  text-decoration: none;
}
[data-title-align="center"] {
  justify-content: center;
}
[data-title-align="start"] {
  justify-content: space-between;
}

@media (max-width: 480px) {
  .title-section h2 {
    font-size: 1rem;
  }
}
