.container-section {
  width: 100%;
}

.title-section {
  width: 100%;
  color: var(--dark-gray-2);
  display: flex;
  align-items: center;
}
.title-section h2 {
  margin-bottom: 1rem;
}
.title-section a {
  color: var(--primary);
  text-decoration: none;
}
[data-title-align="center"] {
  justify-content: center;
}
[data-title-align="start"] {
  justify-content: space-between;
}
