.container-section {
  background-color: #f9f8fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-section {
  width: 100%;
}
[titleAlign="center"] {
  text-align: center;
}
[titleAlign="start"] {
  text-align: start;
}
