.top-collection-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}
.top-collection-imgs div {
  position: relative;
}
.top-collection-imgs div span {
  position: absolute;
  top: 16px;
  left: 25px;
  font-size: 14px;
  background-color: #e7ff86;
  padding: 5px 10px;
  border-radius: 15px;
}
.top-collection-imgs div button {
  position: absolute;
  bottom: 60px;
  left: 25px;
  width: 153px;
  height: 48px;
  background-color: var(--white);
  color: var(--primary);
  border-radius: 10px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.top-collection-imgs div img {
  width: 405px;
  max-width: 100%;
  border-radius: 4px;
}

.container-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.container-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-icons div svg {
  width: 64px;
  height: 64px;
  background-color: var(--white);
  color: var(--light-gray);
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.container-icons div span {
  font-size: 0.8rem;
  color: var(--dark-gray-2);
  font-weight: 600;
}
.container-sale {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 553px;
  gap: 2rem;
  margin: 0 auto;
  background-color: var(--white);
}
.sale-img {
  width: 573px;
  max-width: 85%;
  height: 400px;
  overflow: hidden;
}
.sale-img img {
  width: 100%;
}
.sale-content {
  width: 589px;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sale-content span {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: -1rem;
}
.sale-content h2 {
  font-size: 48px;
  color: var(--dark-gray);
}
.sale-content p {
  color: var(--dark-gray-2);
  line-height: 28px;
}
.sale-content button {
  width: 200px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight: 700;
}
@media (max-width: 480px) {
  .container-icons {
    justify-content: flex-start;
  }

  .container-sale {
    padding: 32px 0;
  }

  .sale-img {
    height: 300px;
  }

  .sale-content span {
    color: var(--warning);
  }

  .sale-content h2 {
    font-size: 28px;
  }
}
